---
title: clickArt.com.ua

plateList: [
{
	img: 'plate1',
	title: 'Власний стиль та досвідчена команда',
	text: 'Враховуємо у своїх роботах сучасні тенденціі веб дизайну та технології розробки сайтів'
},
{
	img: 'plate1',
	title: 'Іноваційні ідеї та креативний дизайн',
	text: 'Враховуємо у своїх роботах сучасні тенденціі веб дизайну та технології розробки сайтів'
},
{
	img: 'plate3',
	title: 'Адаптивна верстка та сучасні технології',
	text: 'Враховуємо у своїх роботах сучасні тенденціі веб дизайну та технології розробки сайтів'
},
{
	img: 'plate4',
	title: 'Відповідальність та дотримання строків',
	text: 'Враховуємо у своїх роботах сучасні тенденціі веб дизайну та технології розробки сайтів'
}

]
profList: [
{
	img: 'search',
	text: 'Моніторинг Вашої ніші та розробка прототипу сайту'
},
{
	img: 'artist',
	text: 'Створення дизайн - макету та його затвердження'
},
{
	img: 'coding',
	text: 'Верстка макету та адаптація под мобільні пристрої'
},
{
	img: 'file',
	text: 'Написання текстів та наповнення контентом '
},
{
	img: 'server',
	text: 'Програмування, та настройка додаткових сервісів'
},
{
	img: 'cloud-computing',
	text: 'Перенос сайту на хостинг замовника та налаштування'
}
]

techList: [
{
	img: 'git'
},
{
	img: 'gulp'
},
{
	img: 'js'
},
{
	img: 'bootstrap'
},
{
	img: 'sass'
},
{
	img: 'wordpress'
},
{
	img: 'html5'
}
]
portfolioList: [
{
	img: 'pf-img',
	title: 'Progress investments'
},
{
	img: 'pf-img',
	title: 'Progress investments'
},
{
	img: 'pf-img',
	title: 'Progress investments'
},
{
	img: 'pf-img',
	title: 'Progress investments'
},
{
	img: 'pf-img',
	title: 'Progress investments'
},
{
	img: 'pf-img',
	title: 'Progress investments'
},
{
	img: 'pf-img',
	title: 'Progress investments'
},
{
	img: 'pf-img',
	title: 'Progress investments'
},
{
	img: 'pf-img',
	title: 'Progress investments'
}
]

portfolioSlider: [
{
	img: 'https://placebear.com/g/800/500',
	title: 'Progect Title 1',
	text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatum dolorem tenetur temporibus asperiores voluptates, doloremque vitae facere consectetur voluptate, eligendi porro excepturi id! Ratione?'
},
{
	img: 'http://placekitten.com/g/800/500',
	title: 'Progect Title 2',
	text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatum dolorem tenetur temporibus asperiores voluptates'
},
{
	img: 'https://placebear.com/g/800/500',
	title: 'Progect Title 3 ',
	text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatum dolorem tenetur temporibus asperiores voluptates, doloremque vitae facere consectetur voluptate, eligendi porro excepturi id! Ratione?'
},
{
	img: 'http://placekitten.com/g/800/500',
	title: 'Progect Title 4 dfdfdd ',
	text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. '
},
{
	img: 'https://placebear.com/g/800/500',
	title: 'Progect Title5',
	text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatum dolorem tenetur temporibus asperiores voluptates, doloremque vitae facere consectetur voluptate, eligendi porro excepturi id! Ratione?'
},
{
	img: 'https://placebear.com/g/800/500',
	title: 'Progect Title 6',
	text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatum dolorem tenetur temporibus asperiores voluptates, doloremque vitae facere consectetur voluptate, eligendi porro excepturi id! Ratione?'
},
{
	img: 'https://placebear.com/g/800/500',
	title: 'Progect Title 7',
	text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatum dolorem tenetur temporibus asperiores voluptates, doloremque vitae facere consectetur voluptate, eligendi porro excepturi id! Ratione?'
},
{
	img: 'https://placebear.com/g/800/500',
	title: 'Progect Title 8',
	text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatum dolorem tenetur temporibus asperiores voluptates, doloremque vitae facere consectetur voluptate, eligendi porro excepturi id! Ratione?'
},
{
	img: 'https://placebear.com/g/800/500',
	title: 'Progect Title 9',
	text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatum dolorem tenetur temporibus asperiores voluptates, doloremque vitae facere consectetur voluptate, eligendi porro excepturi id! Ratione?'
}
]

---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% include "partials/_header.html" %}
	{% include "partials/_fscreen.html" %}
	{% include "partials/_why-we.html" %}
	{% include "partials/_prof-carry.html" %}
	{% include "partials/_technologies.html" %}
	{% include "partials/_portfolio-slider.html" %}

<!-- 	{# variable example #}
	<h1>{{title}}</h1>

	
	{# partial example #}

	{# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #} -->

{% endblock %}
