<!--begin technologies-->
<div class="tech js-tech">
	<!--begin l-->
	<div class="l">
		<div class="tech__text">
			<p>В наших розробках ми завжди</p>
			<h2 class="title-lm tech__title">Використовуємо сучасні технології</h2>
		</div>
		<div class="tech__list">
			{% for item in techList %}
			<div class="tech__item js-tech-item">
				<img src="img/{{item.img}}.png" alt="alt">
			</div>
			{% endfor %}
		</div>
		<img class="tech__logo" src="img/ww-logo.png" alt="clickart">
	</div>
	<!--end l-->


</div>
<!--end technologies-->
